.video_mobile {
    display: none;
}

.cards {
    display: flex;
    background-color: #f5f5f5;
    padding-bottom: 39px;
}

.better_design {
    padding-left: 19.5%;
    padding-right: 19.5%;
    padding-top: 61px;
}

.better_design img {
    padding-left: 7px;
}

.cards img {
    padding-bottom: 19px;
}

.customize {
    padding-top: 37px;
}

.its_free {
    padding-left: 19.5%;
    padding-top: 54px;
}